// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome.scss';

body{
    background: #1d2124;
}

a{
    text-decoration: none !important;
}

.btn-info{
    color: #ffffff;
}

.channel-avatar{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
}

.channel-avatar-overlay{
    display: none;
}

.channel-avatar:hover{

    .channel-avatar-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

}

